.embed-responsive-16by9 {
    height: 90vh;
}

/* modal-content needs to be set to 90 percent on MOBILE ONLY */
.modal-content {
    height: 100%;
    width: 65%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-footer {
    height: 10vh;
}

.section {
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    overflow: hidden;
}

#about-text h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fed136;
}

#reviews {
    height: 300px;
}

.imgHeight {
    height: 150px;   
}

.carousel-item {
    margin-right: 0%;
    vertical-align: middle;
    width: 75%;
    height: 75%;
}

#gallery-food {
    padding-top: 30px;
    padding-bottom: 30px;
}

#reviewTextCarousel .review-stars {
    padding: 0px 15px;
}

#reviewTextCarousel .review-text {
    font-style: italic;
    font-weight: 600;
}

#reviewTextCarousel .review-author {
    font-weight: bold;
    padding-top: 10px;
    /* padding-left: 15px; */
    font-weight: 800;
}

#reviewTextCarousel .checked {
    color: red;
}