.navbar {
    z-index: 99;
    width: 100%;
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 30px;
}

nav a:active a:hover {
    background-color: lightgray;
}

#mainNav .navbar-brand img {
    height: 70px;
}

#mainNav .nav-link {
    text-transform: uppercase;
}

#mainNav form #search{
    color: #fed136;
    border-color: #f8f9fa;
    border-width: 2px;
}

#mainNav form #search:hover {
    background-color: #f8f9fa;
    border-color: #fed136;
    color: #343a40;
    /* font-weight: 500; */
    border-width: 2px;
}

#mainNav .nav-item #nav-doordash-button {
    width: 142px; /*162px*/
    height: 35px; /*40px*/
    padding: 4px 4px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: #f8f9fa;
    border-style: solid;
    border-width: 2px;
    background:url('../images/doordashlogo.png') center no-repeat; background-size: 100% 100%;    
}

#mainNav .nav-item #nav-doordash-button:hover #nav-doordash-button:active {
    width: 162px;
    height: 40px;
    padding: 4px 4px;
    margin-left: 8px;
    border-color: #fed136;
    border-style: solid;
    border-width: 2px;
    background:url('../images/doordashlogo.png') center no-repeat; background-size: 100% 100%;    
    background-color: #f8f9fa;
}

.doordash-button-sm {
    /* width: 215px;
    height: 59px; */
    width: 142px;
    height: 35px;
    padding: 4px 4px;
    text-decoration: none; 
    /* background-image: url(https://cdn.doordash.com/media/button/button_red_s.svg); */
    color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.doordash-button-md {
    /* width: 215px;
    height: 59px; */
    width: 209px;
    height: 45px;
    padding: 4px 4px;
    text-decoration: none; 
    /* background-image: url(https://cdn.doordash.com/media/button/button_red_l.svg); */
    background-image: url(https://cdn.doordash.com/media/button/button_red_m.svg);
    color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}

/* .doordash-button a:link, a:visited {
    color: #fed33669;
    border-radius: 10px;
    border-color: red;
    border-width: 5px;

  }
  
.doordash-button a:hover, a:active {
    background-color: red;
    color: white;
    border-radius: 10px;
    border-color: red;
    border-width: 5px;
  } */


.header {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

#modalMenuButton {
    margin-bottom: 20vh;
}

.btn-primary {
    background-color: #fed136;
    border-color: #f8f9fa;
    border-width: 3px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #f8f9fa;
    border-color: #fed136;
    border-width: 3px;
    font-weight: 700;
}

.btn-rounded {
    border-radius: 25px;
    border-width: 2px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}